@mixin style-device {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 24px;
}

@mixin style-form {
    display: flex;
    flex-direction: column;
}