@use "../utils/variables" as *;
@use "../utils/functions" as *
;


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}



@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin style-button {
  display: flex;
    justify-content: center;
    align-items: center;

  &:hover {
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    transform: scale(1.05);

    background-color: darken-color($secondary-color, 30%);
    color: $white-color;
  }


}

// Mixin pour les liens avec hover
@mixin link-style($hover-color) {
  color: $color-text-muted;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;

  &:hover {
      opacity: 1;
  }
}



@mixin style-container {
  width: 50%;
}

@mixin style-form {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}






// Définir les breakpoints
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @error "Breakpoint #{$breakpoint} not found in map.";
    }
}

// Boucle pour générer les classes de marges
@for $i from 1 through 10 {
    .m-#{$i} {
        margin: calc($i * $spacer *2); 
    }
    .mt-#{$i} {
        margin-top: calc($i * $spacer *2); 
    }
    .mb-#{$i} {
        margin-bottom: calc($i * $spacer *2); 
    }
    .ml-#{$i} {
        margin-left: calc($i * $spacer *2); 
    }
    .mr-#{$i} {
        margin-right: calc($i * $spacer *2); 
    }
}

// Boucle pour générer les classes de padding
@for $i from 1 through 10 {
    .p-#{$i} {
        padding: calc($i * $spacer *2 ); 
    }
    .pl-#{$i} {
        padding-left: calc($i * $spacer *2); 
    }
    .pr-#{$i} {
        padding-right: calc($i * $spacer *2); 
    }
    .pt-#{$i} {
        padding-top: calc($i * $spacer *2); 
    }
    .pb-#{$i} {
        padding-bottom: calc($i * $spacer *2); 
    }
}



