$primary-color: #08323D;
$secondary-color: #D5FD05;
$white-color: #ffffff;
$light-color: #F9F9F9;
$black-color: #000000;
$success-color: #008000;
$warning-color: #FFA500;
$error-color: #FF0000;
$color-text-muted: rgba(255, 255, 255, 0.8);
$accent-color: #00d876;
$bg-color: #f5f5f5;



$margin-unit: 4px;
$padding-unit: 4px;
$spacing-unit: 8px;


$font-family-base : 'Arial, sans-serif, roboto';
$font-size-base: 16px;



$button-width-percent: 100%;

$button-height: 60px;


$border-radius: 4px;
$border-weight: 1px solid;
$border-color: #ccc;









$gap: 14px;


$font-family-h1: 'Open Sans';
$font-size-h1: 36px;
$font-size-small: 14px;