$primary-color: #08323D;
$secondary-color: #D5FD05;
$white-color: #ffffff;
$black-color: #000000;
$success-color: #008000;
$warning-color: #FFA500;
$error-color: #FF0000;



$margin-unit: 4px;
$padding-unit: 4px;
$spacing-unit: 8px;


$font-family-base : 'Arial, sans-serif, roboto';
$font-size-base: 16px;






$button-height: 61px;
$input-gap: 14px;
$width-percent: 23%;
$font-family-h1: 'Open Sans';
$font-size-h1: 36px;