$primary-color: #08323D;
$secondary-color: #D5FD05;
$font-family-base: 'Roboto';
$font-family-h1: 'Open Sans';
$font-size-base: 18px;
$font-size-h1: 36px;
$margin-unit: 0;
$padding-unit: 0;
$white-color: #FFFFFF;
$black-color: #000000;
$font-label-color: rgba(0, 0, 0, 0.61);
$font-wheight : bold;
$border-color: #C1BBBB;
$border-weight: 1px solid;
$max-height-input: 74px;
$input-gap: 14px;
$button-height: 61px;
$width-percent: 23%;