@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.button {
    background-color: $secondary-color ;
    color: $primary-color;
    padding: $padding-unit;
    border-radius: $border-radius;
    
  @include button-animation;
}