@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

button {
    background-color: $secondary-color ;
    color: $primary-color;
    padding: $padding-unit;
    border: $border-weight $border-color;
    border-radius: $border-radius;
    width: fit-content;
    text-align: center;
    cursor: pointer;

   
     justify-self: center;
    
    
  @include style-button;
}


.btn{
    @include style-button;
}

.btn-success{
    background-color: $success-color;
    color: $white-color;
}

.btn-warning{
    background-color: $warning-color;
    color: $white-color;
}

.btn-danger{
    background-color: $error-color;
    color: $white-color;
}