@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

button {
    background-color: $secondary-color ;
    color: $primary-color;
    padding: $padding-unit;
    border: $border-weight $border-color;
    border-radius: $border-radius;
    width: fit-content;
    text-align: center;
    cursor: pointer;

   
     justify-self: center;
    
    
  @include style-button;
}


.btn{
    @include style-button;
}