@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;


.faq{
    padding-top: $padding-unit*10 $padding-unit;
    margin-bottom: $margin-unit*10;

    .zoneTitre{
        text-align: center;
        width: 100%;
        margin-bottom: $margin-unit*5;
        h1{
            font-weight: semibold;
        }
        .line{
            width: 60px;
            height: 4px;
            background-color: $primary-color;
            margin: $margin-unit*3 auto $margin-unit*5 auto;
        }

    }

    .questions-container{
        max-width: 800px;
        margin: 0 auto;
        
        .question{
            border-bottom: 1px solid $primary-color;

            #questionButton{
                width: 100%;
                background-color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: $padding-unit*4 $padding-unit*4;
                border: none;
                outline: none;
                font-size: $font-size-base;
                color: $black-color !important;
                font-weight: 700;
                cursor: pointer;

                .d-arrow {
                    transition: transform 0.5s ease-in;
                    color: lighten-color($primary-color, 10%);
                }
                .d-arrow.rotate {
                    transform: rotate(180deg);
                  }
            }

            p{
                font-size: $font-size-base;
                max-height: 0;
                opacity: 0;
                line-height: 1.5;
                overflow: hidden;
                transition: all 0.6s ease;
            }
            p.show {
                max-height: 600px;
                opacity: 1;
                padding: 0px 15px 30px 15px;
              }
        }
    }

    

}