@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.input{
   
    width: 100%;
    color: $primary-color;
    padding: $padding-unit;
    border-bottom: $border-weight $border-color !important;
border: none;
    &:focus{
        border-bottom: 2px solid $primary-color;
        border-left: 2px solid $secondary-color;
        outline: none;
    }




    &::placeholder{
        color: $black-color;
        font-weight: bold;
    }

}


.input-error {
    border-color: $error-color;
}


.role-choices label{
    color: $secondary-color;
}


.role-choices .radio {
    appearance: none; /* Supprime l'apparence par défaut */
    width: 20px; /* Largeur du carré */
    height: 20px; /* Hauteur du carré */
    border: 2px solid #E5E5E5; 
    background-color: $white-color;
    border-radius: 0; /* Pas de coins arrondis */
    outline: none; /* Supprime le contour */
    cursor: pointer; /* Change le curseur au survol */
}

.role-choices .radio:checked {
    background-color: $secondary-color; /* Couleur de fond lorsque sélectionné */
}

// make input radio square form
