@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

.input{
    // @include style-input;
    background-color: $white-color;
    border: $border-weight $border-color;
    height: $max-height-input;

    &:focus {
        border-bottom: 2px solid  $primary-color; 
      
        border-left: 2px solid $secondary-color;

        outline: none; // Supprimer la bordure automatique
      
    } 

    &::placeholder{
        color: $black-color;
        font-weight: $font-wheight;
    }

}




.input-error {
    border-color: $error-color;
}


.role-choices label{
    color: $secondary-color;
}
