@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $primary-color ;
    align-items: center;
    justify-content: center;

    .modal-content
    {
        background-color: $white-color;
        margin: 0 auto;
        margin-top: 15%;
       
        padding: 20px;
        border: 1px solid #888;
        width: 400px;
        height: 150px;
        align-self: center;
        left: 15%;
       

        .close
        {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:hover
            {
                color: $error-color;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .form{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: $padding-unit*4;

            input{
                display: none !important;;
            }
        }
    }
 
}


.modal-order {
    // Styles généraux pour le modal
    display: none; // Cacher le modal par défaut
    .modal-dialog {
        max-width: 600px; // Largeur maximale du modal
        margin: 1.75rem auto; // Centrer le modal verticalement
    }

    .modal-content {
        border-radius: 0.5rem; // Arrondi des coins du contenu du modal
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); // Ombre du modal
    }

    .modal-header {
        background-color: #f8f9fa; // Couleur de fond de l'en-tête
        border-bottom: 1px solid #dee2e6; // Bordure en bas de l'en-tête
        .modal-title {
            font-weight: bold; // Titre en gras
            color: #343a40; // Couleur du texte du titre
        }
        .btn-close {
            color: #343a40; // Couleur du bouton de fermeture
        }
    }

    .modal-body {
        padding: 20px; // Espacement intérieur du corps du modal
        .input-group {
            margin-bottom: 1rem; // Espacement entre les groupes d'entrée
            .input-group-text {
                background-color: #e9ecef; // Couleur de fond du groupe d'entrée
                border: 1px solid #ced4da; // Bordure du groupe d'entrée
            }
        }
        .form-label {
            margin-bottom: 0.5rem; // Espacement en bas de l'étiquette
            color: #495057; // Couleur du texte de l'étiquette
        }
        .form-control {
            border: 1px solid #ced4da; // Bordure des champs de formulaire
            &:focus {
                border-color: #80bdff; // Couleur de la bordure au focus
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); // Ombre au focus
            }
        }
    }

    .modal-footer {
        background-color: #f8f9fa; // Couleur de fond du pied de page du modal
       
    }
}