@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.navbar-container{
    position: sticky;
    top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 24px;
        font-weight: bold;
    }


    .navbar 
{
    @include flex-center;
    background-color: $primary-color;

    ul{
        display: flex;
        gap: 20px;

        li a {
            color: $white-color;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
}
