@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.navbar-container{
    position: sticky;
    top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between !important;
    align-items: center;

    .logo {
        color: $white-color;
        font-size: 24px;
        font-weight: bold;
        margin-right: $margin-unit*4;
    }


    .navbar 
{
    @include flex-center;
    background-color: $primary-color;

    ul{
        display: flex;
        gap: 20px;
        text-decoration: none !important;
        margin-right: $margin-unit*4;

        li {
            list-style: none;
        }

        li a {
            color: $white-color;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
}
