@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
.image {
    position: relative;
    margin-top: $margin-unit*5;
    
// Reduire la taille de l'image sur petit écran
    @media screen and (max-width: 600px) {
        width: 90%;
    }
}
.image img {
    width: 100%;
    height: auto;
}

.circle {
    position: absolute;
    background-color:#D5FD05 !important; /* Couleur du cercle */
    border-radius: 50%;
    width: 350px;
    height: 400px;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
    z-index: -1;

    /* Animation du cercle */
    animation: circleAnimation 2s infinite;

    

    //reduire la taille sur petit écran
    @media screen and (max-width: 600px) {
        width: 250px;
        height: 250px;
        top: 40%;
    }
}

// Other Styles on home page
.homepage{
    .cars{
        margin-top: 0;
        margin-bottom: $margin-unit;
        background-color: $primary-color;
    
        .carsContainer{
            margin: 15% 10%;
            padding: $padding-unit*4;
            h2{
                text-align: center;
                color: $white-color;
            }
    
            hr{
               
                color: $white-color;
    
    
            }
        }

      
    }

}


// Text Style
.text-secondary {
    color: $secondary-color;
}