@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
.pagination {
    display: flex;
    justify-content: center; 
    margin: $margin-unit*5 0; 

    a {
        text-decoration: none; 
        color: $primary-color; 
        padding: $margin-unit*2 $margin-unit*3; 
        border: 1px solid $primary-color; 
        border-radius: $border-radius; 
        margin: 0 $margin-unit; 
        transition: background-color 0.3s, color 0.3s; 
        &:hover {
            background-color: darken-color($primary-color, 15%); 
            color: $white-color;
        }

        &.active {
            background-color: $accent-color; 
            color: $white-color; 
            border: 1px solid $accent-color; 
        }
    }
}